h1 {
  color: red;
}
h2 {
  color: green;
}
h3 {
  color: #0e10b2;
}
.important-block {
  width: 200px;
  height: 100px;
  background-color: red;
}
.important-block p {
  color: white;
}
p {
  color: #0e10b2;
}
